<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=h1, initial-scale=1.0" />
    <%- include('./styles.ejs'); %>
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <h2>Assignment-4</h2>
    </div>
    <div class="hero">
      <% for(let person of form) {%>
       <% if(person.isPromoted === null ){%>
      <div class="person-details1">
        <h1><%=person.name%></h1>
        <p><%=person.email%></p>
      </div>
      <%}%> <% if(person.isPromoted === true ){%>
      <div class="person-details2">
        <h1><%=person.name%></h1>
        <p><%=person.email%></p>
      </div>
      <%}%> <% if(person.isPromoted === false ){%>
      <div class="person-details3">
        <h1><%=person.name%></h1>
        <p><%=person.email%></p>
      </div>
      <%}%>
      <form method="POST" action="/post/form/users/<%= person._id %>?_method=PUT">
        <button id="edit-<%= person.name %>" class="promoted" type="submit">promoted/unpromoted</button>
    </form> 
<form method="POST" action="/post/form/users/<%= person._id %>?_method=DELETE">
        <button class="deleted" id="delete-<%= person.name %>">Delete</button>
    </form>   

        <% }%>
      </div>
    </div>
    <a href="http://localhost:3000/form">Add user</a>
  </body>
</html>
