<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=h1, initial-scale=1.0" />
    <%- include('./styles.ejs'); %>
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <h2>Assignment-4</h2>
    </div>
    <div class="table">
      <ol>
        <% for(let user of form) {%>
        <li>
         <h1> <%= user.name %></h1> <br /><%= user.email %>
          <div class="buttons">
          <form
            method="POST"
            action="/post/form/user/<%= user._id %>?_method=PUT"
          >
            <button class="promoted" id="edit-<%= form.name %>" type="submit">
              promoted/demoted
            </button>
          </form>
          <form
            method="POST"
            action="/post/form/users/<%= user._id %>?_method=DELETE"
          >
            <button class="deleted" id="delete-<%= user.name %>">Delete</button>
          </form>

          <% }%>
        </li>
      </ol>
      </div>
    </div>
    <a href="http://localhost:3000/form">Add user</a>
  </body>
</html>
